<h1>Cart</h1>


<% if @order.order_lines.empty? %>
  <p>Your cart is currently empty...</p>
<% else %>
  <ul>
    <% @order.order_lines.each do |ol| %>
      <li><strong>Food Name: </strong><%= ol.food.name %>
      <strong>Quantity: </strong><%= ol.quantity %>
      <strong>Price: </strong> (<%= ol.food.price %>) </li>
    <% end %>
  </ul>
<% end %>
