<h1>Search map</h1>
<%# TABS (LIST/MAP) %>
<div class="d-flex align-items-center border">
  <%= link_to 'List', search_path(query: params[:query]), class: 'btn btn-secondary' %>
  <%= link_to 'Map', '#', class: 'btn btn-primary' %>
</div>
