<% if notice %>
<<<<<<< HEAD
  <div data-controller="alert" data-alert-target="flash" class="alert alert-info alert-dismissible fade show m-1 mb-5 mr-5" style="z-index: 10000;" role="alert">
=======

  <div data-controller="alert" data-alert-target="flash" class="alert alert-info alert-dismissible fade show m-1 notice-btn" role="alert">

>>>>>>> master
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
<<<<<<< HEAD
  <div data-controller="alert" data-alert-target="flash" class="alert alert-warning alert-dismissible fade show m-1 mb-5 mr-5" style="z-index: 10000;" role="alert">
=======

  <div data-controller="alert" data-alert-target="flash" class="alert alert-warning alert-dismissible fade show m-1 alert-btn" role="alert">

>>>>>>> master
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
