<%= link_to '🡰', 'javascript:history.back()' %>
<p><strong>checkout</strong></p>
<%= @order.total_price %>

<p>Payment Options:</p>
<button>Cash</button>
<% if @order.status == "cart" %>
  <%= button_to "Checkout Order", checkout_order_path(@order), method: :patch, data: { confirm: "Are you sure you want to checkout this order?" }, class: "btn btn-primary" %>
<% end %>
