<%= render "shared/top_nav" %>
<div class="container mt-3">
  <h3 class="text-center">Checkout</h3>
  <div class="restaurant-info-card">
    <div class=" text-center my-3">Your subtotal is: <%= number_to_currency(@order.calculate_total_price) %></div>
    <div class="d-flex justify-content-evenly align-items-end">
        <% if @order.status == "cart" %>
          <%= button_to "Pay cash in person", checkout_order_path(@order), method: :patch, data: { confirm: "Are you sure you want to checkout this order?" }, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
