<div class="container p-3">
  <h1>This will be root</h1>
  <%= link_to "sign in as user",  new_user_session_path, class:"btn btn-primary"%>
  <%= link_to "sign up as user",  new_user_registration_path, class:"btn btn-primary"%>
  <hr>
  <%= link_to "sign in as restaurant", new_restaurant_session_path, class:"btn btn-primary" %>
  <%= link_to "sign up as restaurant", new_restaurant_registration_path, class:"btn btn-primary" %>
  <hr>
  <em>still remaining to change path in routes </em>
</div>
