<h1 class= "text-center">Food index</h1>

<div class="mt-3">
<ul>
  <% @foods.each do |food| %>
    <li>Food item : <%= food.name %> </li>
    <li>Price : $ <%= food.price %> </li>
    <li>Description : <%= food.description %> </li>
    <li>Quantity : <%= food.quantity %> </li>
  <br>
  <% end %>
</ul>
  </div>
