<h1>Restaurants</h1>
<h3>Favourite restaurants</h3>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%= restaurant.name %></li>
    <li> <%= restaurant.phone_no %></li>
    <li> <%= restaurant.address %></li>
    <br>
  <% end %>
</ul>

<%# SEARCH BAR %>

<%# FAVOURITE RESTAURANT CARDS %>

<%# CARDS OF RESTAURANTS - RANDOM restaurant.all %>
