@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$green: #789D67;
$yellow: #F9CC63;
$orange: #F3844C;
$white: #F7FFF2;
$black: #0F0F12;

body {
  background-color: $green;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}
