.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.btn-positive {
  width: 190px;
  background-color: #f8e0a9;
  text-decoration: none;
  color: black;
  border: 1px solid #FFC107;
  border-radius: 5px;
}

.add-cart-btn {
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 5px;
}

a.add-cart-btn {
  font-size: 0.8rem;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
  // position: relative;
  // left: 80%;
  // bottom: 20px;
}

.add-cart-btn {
  border-color: transparent;
  background-color: $orange;
  color: $white;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.add-cart-btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

#btn-put-back {
  position: absolute;
  top: 20px;
  left: 300px;
  font-size: 15px;
  color: $orange;
}
