.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.btn-positive {
  width: 190px;
  background-color: #f8e0a9;
  text-decoration: none;
  color: black;
  border: 1px solid #ffc107;
  border-radius: 5px;
}

.add-cart-btn {
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 5px;
}

a.add-cart-btn {
  font-size: 0.8rem;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
}

.add-cart-btn {
  border-color: transparent;
  background-color: $orange;
  color: $white;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.add-cart-btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

#btn-put-back {
  position: absolute;
  background-color: #F3844C;
  top: 0;
  left: 84%;
  font-size: 11px;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.publish-btn {
  width: 190px;
  background-color: #f8e0a9;
  text-decoration: none;
  color: black;
  border: 1px solid #FFC107;
  border-radius: 5px;
}

.btn-primary {
  background-color: #f3844c;
  border-color: transparent;
}

.btn-home {
  font-size: 18px;
  background-color: #f8e0a9;
  text-decoration: none;
  border: 1px solid #ffc107;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
}

.continue-btn-positive {
  background-color: #f8e0a9;
  text-decoration: none;
  color: black;
  border: 1px solid #ffc107;
  border-radius: 5px;
  padding: 10px;
}

.proceed-btn-positive {
  background-color: #f8e0a9;
  text-decoration: none;
  color: black;
  border: 1px solid #ffc107;
  border-radius: 5px;
  padding: 10px;
}

div.continue {
  display: flex;
  justify-content: center;
  margin: 0;
}

.delete-btn {
  position: absolute;
  top: -8px;
  left: 6px;
  font-size: 15px;
  padding: 5px;
  border-radius: 50%;
  letter-spacing: 1px;
}

a.plus {
  color: $green;
  margin: 10px;
}

a.minus {
  color: $green;
  margin: 10px;
}

div.proceed {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cart-wrap-button {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
