$green: #789d67;
$yellow: #f9cc63;
$orange: #f3844c;
$white: #ffffff;
$black: #0f0f12;
$light-yellow: #ffffd5;

// restaurant index
.restaurant-photo {
  width: 95vw;
  height: 170px;
  position: relative;
  bottom: 17px;
  left: -3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

//  flickity
* {
  box-sizing: border-box;
}

.carousel {
  background: transparent;
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
  display: block;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}
/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
// }

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}
// ----------------------------------------------
.card.card-product.restaurants-main-card {
  background-color: $light-yellow;
  border-radius: 20px;
}

.card.card-product.restaurants-main-card-user {
  background-color: #ffffd5;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 30vh;
}

.card.card-product.restaurants-second-card {
  background-color: #ffffd5;
  border-radius: 20px;
  height: 250px;
  margin-bottom: 20px;
  width: 94vw;
  position: relative;
  left: 10px;
}
// div.available-restaurant {
//   position: relative;
//   left: 10px;
// }

div.card.restaurants-list {
  width: 98vw;
  margin: 10px;
  height: 200px;
  background-color: $light-yellow;
  border: none;
  border-radius: 20px;
}

div.card.signedin-restaurant {
  border-radius: 20px;
}

.card-img-name {
  position: absolute;
  width: max-content;
  right: 0%;
  padding: 5px 25px;
  text-shadow: 1px 1px 3px #464646;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  border-radius: 40px;
  background: #ffffff52;
}

.card-img-top {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: $light-yellow;
}

div.card.restaurant-foodlist {
  border-radius: 20px;
  margin: 10px;
}

.restaurant-user-photo {
  width: 60vw;
  height: 200px;
  position: relative;
  bottom: 0px;
  left: -3px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-img-top-user {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  // content: counter(carousel-cell);
  //   line-height: 200px;
  //   font-size: 80px;
  //   color: white;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

// food index
#stuff_to_hide {
  display: none;
}

.food-card {
  list-style: none;
  font-size: 12px;
  background-color: #ffffd5;
  border: 1px solid #d2b763;
  border-radius: 10px;
  margin-bottom: 10px;
}

.food-card-user {
  // display: flex;
  position: relative;
  list-style: none;
  font-size: 12px;
  background-color: #ffffd5;
  border: 1px solid #d2b763;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-card-restaurant {
  display: flex;
  list-style: none;
  position: relative;
  left: -23px;
  height: 16vh;
  width: 95vw;
  font-size: 12px;
  background-color: #ffffd5;
  border: 1px solid #d2b763;
  border-radius: 10px;
  margin: 10px;
}

.pick-up {
  display: flex;
}

.details {
  color: $orange;
  font-size: 18px;
  padding-right: 12px;
}

img.minus-icon {
  position: relative;
  top: -60px;
  left: 300px;
}

.food-img {
  border-radius: 10px;
}

.food-index {
  width: 40vw;
  height: 12vh;
  border-radius: 10px;
}

.food-text-infos {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  padding-right: 5px;
}

.card-food-index {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  padding: 5px;
}

#best-seller {
  position: absolute;
  top: 1px;
  left: 2px;
  background-color: #ffc65a;
  padding: 4px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px 3px #464646;
}

.card-product-infos-restaurants {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: 10px;
}

div.mask {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -18px;
}

.dashboard-img {
  border-radius: 5px;
}

.text-infos {
  padding: 0px 15px;
}

.text-infos-restaurants {
  flex-grow: 1;
  padding: 0px 15px;
  height: 14vh;
  position: relative;
  top: 20px;
}

.fa-pen-to-square::before {
  position: relative;
  bottom: -50px;
  left: 340px;
  font-size: 20px;
}

i.fa-solid.fa-eye {
  font-size: 15px;
  position: relative;
  right: 130px;
  top: 6px;
}

i.fa-solid.fa-trash-can {

}
// div.card-footer.text-center {
//   position: relative;
//   bottom: 35px;
//   left: 100px;
// }

li#food-name {
  font-weight: 900;
  letter-spacing: 1px;
}

li#food-description {
  font-size: 15px;
}

img#edit-icon {
  position: absolute;
  right: 10px;
  width: 20px;
}

// restaurant/show
.show-review-card {
  border: 1px solid rgb(250, 182, 79);
  padding: 6px;
  margin: 10px;
  border-radius: 8px;
  background-color: #ffffd5;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  position: relative;
  right: 5vw;
}

li {
  list-style: none;
  font-size: 15px;
}

.restaurant-info-card {
  padding: 6px;
  margin: 10px;
  border: 1px solid rgb(250, 182, 79);
  border-radius: 8px;
  background-color: #ffffd5;
}
p {
  letter-spacing: 1.5px;
}

h5 {
  font-size: 18px;
}
h5.text-center {
  margin-top: -15px;
}

p.text-top {
  margin: 5px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1.5px;
}

p.text {
  margin: 5px 10px;
}

p.text-description {
  margin: 5px 10px;
  font-size: 14px;
}

#review-content {
  font-size: 20px;
  color: #4aab02;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// my restaurant
img.cover-my-restaurant {
  max-width: -webkit-fill-available;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  border-top-left-radius: 20px;
}

img.cover-my-restaurant-owner {
  width: 94vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.object-fit-cover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

img.object-fit-cover-my-restaurant {
  height: 25vh;
  width: 94vw;
  position: relative;
  top: -2px;
  left: -1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cover-restaurant {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 94vw;
  height: 200px;
}

div.restaurant-card-info {
  padding: 0px 20px;
  display: flex;
  justify-content: flex-start;
  color: $orange;
  font-size: 20px;
  align-items: center;
}
div.cuisine {
  display: flex;
  justify-content: center;
  margin-right: 135px;
}

p.cuisine {
  font-size: 25px;
  position: relative;
  top: 7px;
}

p.rating {
  display: flex;
  border: 2px solid $orange;
  padding: 5px;
  border-radius: 50px;
  width: 10rem;
  justify-content: center;
}

img#food-icon {
  width: 30px;
  bottom: 4px;
  position: relative;
}

div.rating.d-flex {
  justify-content: center;
}

div.card-infos-user {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0px;
  }
}

.cover-restaurant-user {
  width: 94vw;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
// cart page
.cart-item-container {
  list-style: none;
  font-size: 12px;
  background-color: #ffffd5;
  border: 1px solid #d2b763;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

li.cart-text {
  gap: 15px;
}

.cart-text {
  display: flex;
  align-items: baseline;
}

#food-price {
  color: $orange;
  font-size: 18px;
}

#food-quantity {
  font-size: 17px;
  color: $orange;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px orange;
  display: flex;
  justify-content: flex-end;
}

#food-quantity2 {
  display: flex;
  color: black;
  gap: 7px;
  font-size: 18px;
}

#food-allergen {
  display: flex;
  gap: 7px;
}

.hello.text-center.mt-5 {
  text-align: center;
  color: $white;
  font-size: 18px;
}

#pickup-time {
  margin-right: 10px;
}

#to {
  margin: 0 5px;
}
