// restaurant index
.restaurant-photo {
  width: 200px;
  height: 150px;
}
//  flickity
.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 100px;
  margin-right: 10px;
  background:transparent;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(carousel-cell);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }

//  food index

.food-card {
  list-style: none;
  font-size: 12px;
  background-color: beige;
  border: 1px solid #d2b763;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-product-infos {
  display: flex;
  align-items: center;
  margin: 10px;
}

.text-infos {
  padding: 0px 15px;
}

li#food-name {
  font-weight: 900;
}

li#food-description {
  font-size: 10px;
}

img#edit-icon {
  position: absolute;
  right: 10px;
  width: 20px
}

.notification-card {
  border: 1px solid black;
}
// restaurant/show
.review-card {
  border: 1px solid rgb(250, 182, 79);
}

li {
  list-style: none;
  font-size: 15px;
}

div.container.restaurant-info {
  border: 1px solid rgb(250, 182, 79);
}

h5 {
  font-size: 18px;
}
