// sign up form for restaurants
form#new_restaurant {
  width: 500px;
}

// sign up form for users
form#new_user {
  width: 500px;
}

.update-food {
  position: relative;
  left: 140px;
}

.form-control.is-valid.string.optional.flatpickr-input.flatpickr-mobile {
  border-radius: 7px;
  color: orange;
  background-color: #ffffff8f;
}
