h1.text-center {
  color: $white;
  margin: 20px 10px;
  letter-spacing: 2px;
  position: relative;
  top: -5px;
}

h2.text-center {
  color: $white;
  margin: 20px 10px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #326715
}

h3.index-head {
  color: $white;
  text-align: center;
  margin: 30px 10px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #326715
}

h3.text-center {
  font-weight: normal;
  font-size: 18px;
  color: $white;
  margin: 8px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #326715
}

h3.choose-items {
  font-weight: normal;
  font-size: 18px;
  color: $white;
  text-align: center;
  margin: 6px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #326715
}

small {
  font-size: 10px;
}
