.empty-cart-icon {
  width: 135px;
  margin: 80px;
}

div.cart {
  display: flex;
  justify-content: center;
}

.cart-food {
  position: absolute;
  right: 0;
  border-radius: 5px;
}

img.empty-menu-icon {
  width: 65px;
}
