$green: #789d67;
$yellow: #f9cc63;
$orange: #f3844c;
$white: #ffffff;
$black: #0f0f12;
$light-yellow: #ffffd5;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#navbar-bottom {
  position: fixed;
  bottom: 6px;
  width: 95%;
  height: 67px;
  z-index: 10000;
  border-radius: 12px;
  right: 10px;
  box-shadow: 2px 2px 2px #212529;
  .dropup .dropdown-toggle::after {
    display: none;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    border-radius: 5px;
    background-color: #ffffd5;
    border-color: #ff5d0e;
  }
}
#navbar-bottom i {
  font-size: 32px;
  color: #ff5d0e;
}

.bg-dark-subtle2 {
  background-color: #ffc107;
}

.navbar > .container {
  left: 10px;
  justify-content: space-around;
  position: absolute;
}

div.nav-top-map {
  background-color: $yellow;
}
