$green: #789D67;
$yellow: #F9CC63;
$orange: #F3844C;
$white: #ffffff;
$black: #0F0F12;
$light-yellow: #ffffd5;

.notification-card {
  background-color: #ffffd5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(250, 182, 79);
  margin: 30px;
  padding: 0;
}

div.notfication-text {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

div.notification.d-flex {
  gap: 10px;
}

.noti {
  margin: 0px;
}

.noti-orange {
  color: $orange;
}
