$green: #789D67;
$yellow: #F9CC63;
$orange: #F3844C;
$white: #ffffff;
$black: #0F0F12;
$light-yellow: #ffffd5;

.notification-card {
  background-color: $light-yellow;
  border-radius: 20px;
  width: 95vw;
  position: relative;
  left: 10px;
}

div.notfication-text {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
