.view-map{
  position: fixed;
  z-index: 9999;
  bottom: 70px;
  right: 7px;
  background-color: #f3844ca3;
  color: rgb(51, 21, 21);
  padding: 8px;
  margin: 6px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #343a4061;
}
