.view-map{
  position: fixed;
  z-index: 9999;
  bottom: 70px;
  right: 14px;
  background-color: #e67e22;
  color: black;
  padding: 8px;
  margin: 6px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #343a4061;
}
