<h1 class="text-center">Restaurant dashboard</h1>
<h2 class="text-center">Menu</h2>

<h3 class="text-center">Your menu is empty</h3>

<%= link_to 'Add a food item', new_restaurant_food_path(@restaurant), class: 'btn btn-primary' %>
<%# need to fix %>
