<h1 class="text-center"><%= @restaurant.name %> notifications</h1>

<div class="notification-card mt-3 ">
<p>Order from: Manisha </p>
<p>Customer id: OR0389455</p>
<p>Status: Picking up....</p>
<%= link_to 'Picked up!', restaurants_dashboard_path(@restaurant), method: :patch, class: 'btn-positive' %>
<%#= change status to DONE %>
  </div>
